@model AnkietaP.Models.wynik_bool

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateB</title>


</head>
<body>
    <div> 
        Dziekujemy za oddanie głosu <br />

        
        
    </div>
</body>
</html>
