@using AnkietaP.Models
@model mieszkaniec

@{
    ViewBag.Title = "Strona główna";
}


<div class="row">
    <img class="img-responsive" src="~/Content/organizacja-spotkania-biznesowego-clr.jpg " />
</div>





<div class="container" align="center">
    <h1>Pomyśl o swoim czasie</h1>
    <p>SOGiA pomoże Ci bardzo szybko stworzyć ankiety online</p>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4">
            <i class="fa fa-mobile fa-5x" style="color: #a3dbff; text-shadow: 1px 2px 5px #000;"></i>
            <h3>Pełna responsywność</h3>
            <p>
                SOGiA jest w pełni responsywną stroną (dostosowującą się do rozmiarów ekranu użytkownika) dzięki czemu wszyscy korzystający z niej także na urządzeniach mobilnych będą cieszyć się pełną satysfakcją.
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-group fa-5x " style="color: #a3dbff; text-shadow: 1px 2px 5px #000;"></i>
            <h3>Cenne informacje</h3>
            <p>
                Stwórz ankietę i zdobądź opinie osób postronnych!
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa  fa-thumbs-up fa-5x" style="color: #a3dbff; text-shadow: 1px 2px 5px #000;"></i>
            <h3>Proste głosowanie</h3>
            <p> Zaloguj się i zobacz nasze połączenie szybkości z łatwością korzystania. </p>
        </div>
    </div>
</div>







<div class="jumbotron">
    <div class="container" align="center">
        <h2>Po co korzystać z SOGiA?</h2>
        <br />

        <div class="container" align="left">
            <i class="fa  fa-check" style="color: #005890"></i> W łatwy sposób pozyskujesz opinie.
            <br />
            <i class="fa  fa-check" style="color: #005890"></i> Jedynie w naszym systemie możesz w jednym miejscu zarządzać wszystkimi zdobytymi danymi.
            <br />
            <i class="fa  fa-check" style="color: #005890"></i> Ankiety online to przyszłość! Już teraz możesz się tam znaleźć!
        </div>
    </div>

    <br />
</div>


<div class="jumbotron" style="background-color: #005890 ">
    <div class="container" align="center">
        <h2 style=" color: white">Jak zacząć?</h2>
        <br />
        <div class="container" align="left">
            <div style=" color: white">
                1. Zaloguj się wpisując hasło i swój numer pesel.
                <br />
                2. Wyszukaj ankietę.
                <br />
                3. Wypełnij ją gdzie chcesz i na czym chcesz. 
                <br />


                <p>
                    Przejdz do logowania: <input type="button" value="Dalej" onclick="location.href='@Url.Action("Login", "mieszkaniecs", null, null)'" />

                </p>

              


            </div>
        </div>
    </div>

    <br />
</div>


<div class="row">


    <img class="img-responsive" src="~/Content/kontakt.jpg " />

</div>
@*

*@
