@model AnkietaP.Models.wynik_lista

@{
    ViewBag.Title = "Oddano Głos";

}
<br />
<br />
<center><h2>Dziekujemy</h2></center>
<br />



<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Update</title>
</head>
<body>
    <div>
        <center>
            Dziekujemy za udzial w ankiecie <br />
            Aby wrócić do ankiet kliknij: <br />
            <br />

            <input type="button" value="Wróć" onclick="location.href='@Url.Action("Lista", "ankietas", null, null)'" />
        </center>
    </div>
</body>
</html>